<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">

  <%
  var title = "aabccd021's blog"
  if (is_post()){
    title = page.title + " - " + title
  } 
  %>
  <title><%= title %></title>
  <% if (config.sitemap) { %>
  <link rel="sitemap" href="<%-config.url + config.sitemap.path %>" />
  <% } %>
  <link rel="canonical" href="<%= url.replace(/index\.html$/, '').replace(/index\.html$/, '') %>">
  <% if (is_page()){ %>
  <meta name="description" content="<%= page.description %>">
  <% } else if (page.content){ %>
  <meta name="description" content="<%= strip_html(page.content).replace(/\n/g, " ").replace(/^\s*/, '').replace(/\s*$/, '').substring(0, 150) %>">
  <% } else { %>
  <meta name="description" content="<%= config.description %>">
  <% } %>
  <% if (config.keywords) { %>
  <meta name="keywords" content="<%= config.keywords %>">
  <% } %>
  <meta name="author" content="Muhamad Abdurahman">
  <meta name="color-scheme" content="dark light">
  <meta property="og:site_name" content="<%= config.title %>" />
  <meta property="og:type" content="article" />
  <meta property="og:title" content="<%= title %>" />
  <% if (is_page()){ %>
  <meta property="og:description" content="<%= page.description %>">
  <% } else if (page.content){ %>
  <meta property="og:description" content="<%= strip_html(page.content).replace(/\n/g, " ").replace(/^\s*/, '').replace(/\s*$/, '').substring(0, 150) %>">
  <% } else { %>
  <meta property="og:description" content="<%= config.description %>">
  <% } %>
  <meta property="og:url" content="<%= url.replace(/index\.html$/, '').replace(/index\.html$/, '') %>" />
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="<%= title %>">
  <% if (is_page()){ %>
  <meta name="twitter:description" content="<%= page.description %>">
  <% } else if (page.content){ %>
  <meta name="twitter:description" content="<%= strip_html(page.content).replace(/\n/g, " ").replace(/^\s*/, '').replace(/\s*$/, '').substring(0, 150) %>">
  <% } else { %>
  <meta name="twitter:description" content="<%= config.description %>">
  <% } %>
  <meta name="twitter:url" content="<%= url.replace(/index\.html$/, '').replace(/index\.html$/, '') %>" />

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <%- css('css/style.css') %>

</head>

<body>
  <h1>
    <a href="<%= config.root %>">
      aabccd021's blog
    </a>
  </h1>

  <%- body %>

</body>

</html>
